
.openning-container-main-body-info-light{
    background-color: #007a99

}

.openning-container-main-body-info-dark{
    background-color:#000033
}



.icons{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 3rem;
    width:15rem;
    align-items: center;
    color:white;
    cursor: pointer;

}

/* //notice that if height is not 0 px there is a gap in the front  */
.checks{
    justify-content: space-between;
    align-items: center;
    height:0px;
}

@media only screen and (max-width: 812px) {
    .check{
        flex-direction: column;
        width:initial;
    }
    .icons{
        margin:auto;

    }
}

