
.openning-container-main-body-info-light{
    background-color: #007a99

}

.openning-container-main-body-info-dark{
    background-color:#000033
}

.openning{
    display: block;
    font-weight: bold;
    color:white;
    text-align: center;
    font-size:4rem;
    text-shadow: 2px 2px 4px #000000;

}

.sub-openning{
    display: block;
    font-weight: bold;
    color:white;
    text-align: center;
    font-size:3rem;
    text-shadow: 2px 2px 4px #000000;

}


.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 3rem;
    width:15rem;
    align-items: center;
    color:white;
    cursor: pointer;

}

/* //notice that if height is not 0 px there is a gap in the front  */


@media only screen and (max-width: 812px) {
    .openning{
        font-size: 3rem;
    }

    .sub-openning{
        font-size: 1.5rem;


    }
    .check{
        flex-direction: column;
        width:initial;
    }
    .icons{
        margin:auto;

    }
}

@media only screen and (max-width: 414px) {
    .openning{
        font-size: 2rem;
    }
    .sub-openning{
        font-size: 1rem;


    }

}



@media only screen and (max-width: 280px) {
    .openning{
        font-size: 1.5rem;
    }
    .sub-openning{
        font-size: 0.75rem;


    }

}

